.filterbtn {
  text-align: left;
}

#status_filterbar,
#emp_id_filterbar,
#date_filterbar {
  max-height: 300px;
  overflow-y: auto;
}

th {
  white-space: nowrap;
  font-weight: bold;
  font-size: 13px;
}

td {
  font-size: 12px;
  white-space: nowrap;
  font-weight: bold;
}
